attrs==23.1.0
beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==2.0.12
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
py==1.11.0
pytest==7.1.2
requests==2.27.1
soupsieve==2.4.1
tomli==2.0.1
urllib3==1.26.15
